h1 {
    color: black;
    margin-bottom: 10px;
}
h2 {
    color: blue;
}
h3 {
    color: aquamarine;
}
h4 {
    padding-bottom: 20px;
}
span {
    color: brown;
}
h1, h2, h3, h4, span {
    font-size: 40px;
}
@media (max-width: 768px) {
    h1, h2, h3, h4, span {
        font-size: 25px;
    }
}
.h {
    text-align: center;
}
.paragraphs {
    text-align: center;
    animation: 5s show ease;
}
strong {
    font-family: 'Courier New', Courier, monospace;
}
i {
    font-size: 30px;
}
@media (max-width: 768px) {
    i {
        color: #ff6464;
    }
}
@media (min-width: 769px) {
    i {
        color: #ffcc00;
    }
}
@media (min-width: 1366px) {
    i {
        color: #000000;
    }
}
u {
    text-transform: uppercase;
    text-decoration: dashed;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .container {
        
    }
}
.text-flicker {
    animation: flicker 3s infinite; /* Параметры анимации */
}
@keyframes flicker {
    from { opacity: 1; /* Непрозрачный текст */ }
    to { opacity: 0; /* Прозрачный текст */ }
}
.math {
    border: 5px dashed yellow;
    animation: 5s show ease;
}
@media (max-width: 767px) {
    .math {
        background-color: #77de77;
    }
}
@media (min-width: 768px) {
    .math {
        background-color: #fff8dc; 
    }
}
@media (min-width: 1365px) {
    .math {
        background-color: red;
    }
}
ol {
    display: flex;
    animation: 5s show ease;
    justify-content: space-around;
}
li:hover {
    color: red;
}
ul {
    display: flex;
    animation: 5s show ease;
}
.ul {
    display: flex;
    justify-content: center;
}
li.li {
    color:#214133;
    list-style-type: none;
}
li.li::before {
    content: '❤';
    color:#f16092;
}
li.li1 {
    color:#214133;
    list-style-type: none;
}
li.li1::before {
    content: '👌';
    color:#f16092;
}
li.li2 {
    color:#214133;
    list-style-type: none;
}
li.li2::before {
    content: '⌚';
    color:#f16092;
}
table {
    width: 100%;
}

.yandeks {
    animation: 5s show ease;
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 0;
    border: none;
}
a {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
}
.img {
    animation: 5s show ease;
    display: flex;
    justify-content: center;
}
.img1 {
    width: 100px;
    height: 100px;
    opacity: 0.5;
}
.img2 {
    width: 100px;
    height: 100px;
    background: url(/images/inst.png) no-repeat 50% 50%;
}
.img2:hover {
    background: url(/img/twitter.png) no-repeat 50% 50%;
}
.img3 {
    width: 100px;
    height: 100px;
    transform: scale(-1, -1)
}
.form {
    border: 1px solid #ff6464;
    background: blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: 5s show ease;
}
input {
    border: 1px solid yellowgreen;
    width: 250px;
    margin: 20px 0px;
    background-color: aquamarine;
    color: #ff6464;
    margin-bottom: 15px;
}
textarea {
    margin-top: 10px;
    width: 400px;
    border: 1px solid yellowgreen;
    margin-bottom: 30px;
    background-color: aquamarine;
    color: #ff6464;
}
.btn {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f16092;
    color: white;
    margin-bottom: 20px;
}
.btn:hover {
    background-color: white;
    color: #ff6464;
}
table {
    animation: 5s show ease;
}
table td:nth-child(even) {background-color: gray;}
table th:nth-child(even) {background-color: gray;}
table th:nth-child(odd) {background-color: rgb(0, 162, 255);}
table td:nth-child(odd) {background-color: rgb(0, 162, 255);}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 8px;
}
@media (max–width: 768px) {
    th {
        display: none;
    }
    td {
        border-bottom: 1px solid #ddd;  
        display: block;
        text-align: right;
    }
    td:before {
        float: left;
    }
}

.header__link {
    width: 10%;
    margin: 100px auto;
}

.video {
    margin-bottom: 30px;
    animation: 5s show ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto auto;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}
.map {
    display: flex;
    justify-content: center;
    width: 100%;
}
.yanbtn {
    display: flex;
    justify-content: center;
}
.btnvid {
    display: flex;
    justify-content: center;
    text-align: center;
}
.btnvideo {
    color: white;
    border: 1px solid #ff6464;
    border-radius: 20px;
    width: 100px;
    background-color: black;
    margin-top: 30px;
}
._active {
    border-bottom: solid #313131 2px;
    border-radius: 1px;
}
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 5;
    transform: translateY(-44.5%) scale(0);
    transition: all 0.5s ease 0s;
}
.popup._active {
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .8);
}
.popup__container {
    max-width: 700px;
    margin: 50px auto;
}
.popup__body {
    position: relative;
}
.close__popup {
    color: #FAFAFA;
    position: absolute;
    top: -30px;
    right: -30px;
    font-size: 21px;
    cursor: pointer;
}
@media(max-width: 768px) {
    .close__popup {
        display: none;
    }
}
@media(min-width: 768px) {
    .close__popup {
        display: block;
    }
}


/* Собственно сам слайдер */
.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;
    margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.act {
    border-bottom: solid #313131 2px;
    border-radius: 1px;
    transition: all 0.3s ease 0s;
}

.slider.act {
    transform: translateY(0%) scale(200%);
    background-color: rgba(0, 0, 0, .8);
    transition: all 0.3s ease 0s;
}